@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700&display=swap);





body {
  font-family: Josefin Sans;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #e2f7df !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #e2f7df !important;
  border-color: #e2f7df !important;
  color: #3bac2b !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #3bac2b !important;
  background-color: #abe8a2 !important;
  border-color: #abe8a2 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #3bac2b !important;
  background-color: #abe8a2 !important;
  border-color: #abe8a2 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #98e38d;
  color: #98e38d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #3bac2b;
  background-color: #e2f7df;
  border-color: #e2f7df;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #3bac2b !important;
  background-color: #e2f7df !important;
  border-color: #e2f7df !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #ffbc00 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #e2f7df !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #997100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #98e38d !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #e2f7df;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
}
#scrollToTop a i:before {
  background: #ffbc00;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
}
.mbr-arrow a i {
  color: #ffbc00;
}
.form-control {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #f9e2af;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9e2af;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9e2af !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffbc00 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f9e2af' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rRlcgI7nMA {
  padding-top: 45px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #f4f8fa, #f4f8fa);
}
.cid-rRlcgI7nMA .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-rRlcgI7nMA .plan-body .btn-bgr {
  z-index: 0;
}
.cid-rRlcgI7nMA .list-group-item {
  padding: .5rem 3.25rem;
  background: transparent;
}
.cid-rRlcgI7nMA .price-term {
  margin-left: -5px;
}
.cid-rRlcgI7nMA .pt2 {
  padding-top: 2rem;
}
.cid-rRlcgI7nMA .plan-favorite {
  background-color: #188ef4;
  width: 40%;
  border-radius: .25rem;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -26px;
  margin-left: -20%;
}
.cid-rRlcgI7nMA .plan-descr {
  color: #444444;
}
.cid-rRlcgI7nMA .plan-price {
  margin-top: 2rem;
}
.cid-rRlcgI7nMA .plan-header {
  border-radius: .25rem .25rem 0 0;
  overflow: hidden;
  padding-right: 2rem;
  padding-left: 2rem;
}
.cid-rRlcgI7nMA .plan-body {
  border-radius: 0 0 .25rem .25rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.cid-rRlcgI7nMA .plan-card {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-rRlcgI7nMA .plan {
  position: relative;
  max-width: 330px;
  padding-right: 0;
  padding-left: 0;
}
.cid-rRlcgI7nMA .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-rRlcgI7nMA .plan .list-group-item:last-child {
  border-radius: 8px;
}
.cid-rRlcgI7nMA .plan .plan-favorite {
  display: none;
}
.cid-rRlcgI7nMA .plan:nth-child(2) .plan-favorite {
  background-color: #ff4f7b;
  display: block !important;
}
.cid-rRlcgI7nMA .plan-header,
.cid-rRlcgI7nMA .plan-body {
  background-color: #ffffff;
}
.cid-rRlcgI7nMA .price-figure {
  font-weight: 300;
  color: #232323;
}
.cid-rRlcgI7nMA .price-value {
  font-weight: 300;
  vertical-align: top;
  line-height: 1;
  margin-right: -5px;
}
@media (max-width: 992px) {
  .cid-rRlcgI7nMA .plan {
    margin-bottom: 3rem !important;
  }
}
@media (max-width: 550px) {
  .cid-rRlcgI7nMA .price-figure {
    font-size: 4.25rem;
  }
}
.cid-rRlcgI7nMA UL {
  color: #8d97ad;
}
.cid-rRlbDVfTu5 {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #000000;
  background: linear-gradient(0deg, #000000, #0d4e03);
}
.cid-rRlbDVfTu5 .mbr-section-title {
  letter-spacing: 0.1em;
  text-align: center;
}
.cid-rRlbDVfTu5 .mbr-section-subtitle {
  color: #f9e2af;
}
.cid-rRlbDVfTu5 .image-wrap img {
  width: 100%;
}
.cid-rRlbDVfTu5 .mbr-desc {
  width: 100%;
  text-align: center;
}
.cid-rRlbDVfTu5 .tab-content {
  padding: 4rem 3rem 3rem 3rem;
  border-top: 3px solid #f9e2af;
  -webkit-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.cid-rRlbDVfTu5 .nav {
  border: none;
}
.cid-rRlbDVfTu5 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rRlbDVfTu5 .card-box {
  -webkit-align-items: baseline;
  align-items: baseline;
}
.cid-rRlbDVfTu5 .card-box .mbr-price {
  margin: 0;
}
.cid-rRlbDVfTu5 .card-box .mbr-text {
  line-height: 1;
}
.cid-rRlbDVfTu5 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all .5s;
  border: 0 !important;
}
.cid-rRlbDVfTu5 .nav-tabs .nav-link:hover {
  color: #f9e2af;
  border: 0 !important;
}
.cid-rRlbDVfTu5 .nav-tabs .nav-link.active {
  color: #f9e2af;
  border: 0 !important;
  background-color: transparent;
  position: relative;
}
@media (max-width: 90%) {
  .cid-rRlbDVfTu5 .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.cid-rRlbE0iETm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/1-2000x1333.jpg");
}
.cid-rRlbE0iETm .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rRlbE0iETm .content-panel {
  padding: 3rem;
  background-color: #444444;
}
@media (min-width: 767px) {
  .cid-rRlbE0iETm .text-block {
    padding-right: 0;
  }
}
.cid-rRlbE0iETm .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rRlbE0iETm .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rRlbE0iETm .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-rRlbE0iETm .google-map .place-card {
  margin-left: 40px !important;
}
.cid-rRlbE1Oe8D {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/30841543-1874407619278185-6439007234927099904-n-808x724.jpg");
}
.cid-rRlbE1Oe8D *:focus {
  outline: none;
  box-shadow: none;
}
.cid-rRlbE1Oe8D .form-control {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  border: none;
  min-height: 47px;
}
.cid-rRlbE1Oe8D .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-rRlbE1Oe8D .form-control::-moz-placeholder {
  color: #000000;
}
.cid-rRlbE1Oe8D .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-rRlbE1Oe8D .form-control:-moz-placeholder {
  color: #000000;
}
.cid-rRlbE1Oe8D input.form-control {
  padding: .5rem;
}
.cid-rRlbE1Oe8D .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af;
  border-radius: 50%;
}
.cid-rRlbE1Oe8D .soc-item:hover {
  opacity: .5;
}
.cid-rRlbE1Oe8D .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-rRlbE1Oe8D .days-column,
.cid-rRlbE1Oe8D .hours-column {
  display: inline-block;
}
.cid-rRlbE1Oe8D .days-column span,
.cid-rRlbE1Oe8D .hours-column span {
  display: block;
}
@media (max-width: 767px) {
  .cid-rRlbE1Oe8D .days-column {
    padding-right: 0 !important;
  }
  .cid-rRlbE1Oe8D .hours-column {
    max-width: 50% !important;
  }
  .cid-rRlbE1Oe8D .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-rRlbGbEdtc {
  background-image: url("../../../assets/images/dsc0852-2000x1333.jpg");
}
.cid-rRlbGbEdtc .mbr-overlay {
  background: #232323;
}
.cid-rRlbGbEdtc .mbr-section-title {
  letter-spacing: .5rem;
  color: #0d4e03;
}
.cid-rRlbGbEdtc .mbr-text,
.cid-rRlbGbEdtc .mbr-section-btn {
  color: #000000;
}
.cid-rRlbGcRX5m {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rRlbGcRX5m .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.cid-rRlbGcRX5m .text-block {
  position: relative;
  z-index: 0;
}
.cid-rRlbGcRX5m .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-rRlbGcRX5m .box {
  left: 20%;
}
.cid-rRlbGcRX5m .text-box {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cid-rRlbGcRX5m .mbr-section-text,
.cid-rRlbGcRX5m .mbr-section-title {
  margin-left: 31%;
}
@media (max-width: 991px) {
  .cid-rRlbGcRX5m .text-box {
    display: none;
  }
  .cid-rRlbGcRX5m .mbr-section-title,
  .cid-rRlbGcRX5m .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rRlbGcRX5m .box {
    display: none;
  }
  .cid-rRlbGcRX5m .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rRlbGcRX5m .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rRlbGcRX5m .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rRlbGcRX5m .mbr-section-text {
  color: #000000;
}
.cid-rRlbGdUWqq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #0d4e03;
}
.cid-rRlbGdUWqq .mbr-section-subtitle {
  color: #444444;
}
.cid-rRlbGdUWqq .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rRlbGdUWqq .mbr-text {
  color: #444444;
}
.cid-rRlbGdUWqq .mbr-author-desc {
  display: block;
  color: #444444;
}
.cid-rRlbGdUWqq .mbr-author-name {
  color: #444444;
}
.cid-rRlbGdUWqq .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-rRlbGdUWqq .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-rRlbGdUWqq .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}
.cid-rRlbGdUWqq .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rRlbGdUWqq .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-rRlbGdUWqq .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-rRlbGdUWqq H2 {
  color: #ffffff;
}
.cid-rRlbGfyLBz {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/6-653x408.png");
}
.cid-rRlbGfyLBz .mbr-section-title {
  margin-bottom: 0;
}
.cid-rRlbGfyLBz .mbr-role {
  padding-bottom: .5rem;
}
.cid-rRlbGfyLBz .mbr-iconfont {
  color: #cccccc;
  font-size: 1rem;
}
.cid-rRlbGfyLBz .mbr-iconfont:hover {
  color: #f5aeb5;
}
.cid-rRlbGfyLBz .image-wrap {
  position: relative;
  height: 100%;
}
.cid-rRlbGfyLBz .image-wrap img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center center;
  height: 100%;
}
.cid-rRlbGfyLBz .card-wrap {
  margin-bottom: 3rem;
  overflow-y: hidden;
  height: 400px;
}
.cid-rRlbGfyLBz .social-media {
  list-style-type: none;
  width: 100%;
  z-index: 1;
}
.cid-rRlbGfyLBz .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rRlbGfyLBz .social-media ul li {
  margin-right: .8rem;
  display: inline-block;
}
.cid-rRlbGfyLBz .card-bottom {
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: -92px;
  padding: 0 .5rem;
  width: calc(100% - 30px);
  transition: bottom 0.2s ease-in;
  bottom: -60px;
  bottom: 0 !important;
}
.cid-rRlbGfyLBz .card-bottom:hover {
  bottom: 0;
}
.cid-rRlbGiCGwB {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #042100;
}
.cid-rRlbGiCGwB .mbr-text {
  position: relative;
  color: #ffffff;
}
.cid-rRlbGiCGwB .mbr-text:before {
  color: #e98410;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-rRlbGiCGwB .mbr-text:after {
  color: #e98410;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-rRlbGiCGwB .mbr-text:after,
  .cid-rRlbGiCGwB .mbr-text:before {
    display: none;
  }
}
.cid-rRlbGiCGwB .mbr-section-title,
.cid-rRlbGiCGwB .logo {
  color: #ffffff;
}
.cid-rRlbGjw0oB {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/7-510x406.png");
}
.cid-rRlbGjw0oB .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  writing-mode: vertical-rl;
}
.cid-rRlbGjw0oB .text-block {
  position: relative;
  z-index: 0;
}
.cid-rRlbGjw0oB .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-rRlbGjw0oB .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rRlbGjw0oB .box {
  right: 20%;
}
.cid-rRlbGjw0oB .text-box {
  right: 0;
}
.cid-rRlbGjw0oB .mbr-section-title,
.cid-rRlbGjw0oB .mbr-section-text {
  margin-right: 31%;
  margin-right: 0;
}
@media (max-width: 991px) {
  .cid-rRlbGjw0oB .text-box {
    display: none;
  }
  .cid-rRlbGjw0oB .mbr-section-title,
  .cid-rRlbGjw0oB .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rRlbGjw0oB .box {
    display: none;
  }
  .cid-rRlbGjw0oB .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rRlbGjw0oB .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rRlbGjw0oB .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rRlbGjw0oB .mbr-section-text {
  color: #000000;
}
.cid-rRlbGjw0oB .mbr-section-title {
  color: #ffffff;
}
.cid-rRlbGkF40c {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #444444;
}
.cid-rRlbGkF40c .content-block {
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  background-color: #efefef;
  transition: all 0.4s ease-in-out;
}
.cid-rRlbGkF40c .content-block .mbr-text {
  margin: 0;
}
.cid-rRlbGkF40c .content-section {
  height: 100%;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
.cid-rRlbGkF40c .image-wrap:hover img {
  opacity: 1;
  -webkit-transform: translateY(-4%);
  transform: translateY(-4%);
}
.cid-rRlbGkF40c .image-wrap:hover > .content-block {
  opacity: .6;
}
.cid-rRlbGkF40c .image-wrap {
  width: 100%;
  height: 100%;
}
.cid-rRlbGkF40c .image-wrap img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.cid-rRlbGkF40c h4.mbr-text a {
  display: block;
  min-width: 100%;
}
.cid-rRlbGkF40c .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rRlbGkF40c .mbr-section-title {
  color: #ffffff;
}
.cid-rRlbGlNBX3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/4-1600x1200.jpg");
}
.cid-rRlbGlNBX3 .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-rRlbGlNBX3 .main-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rRlbGlNBX3 .image-element {
  padding: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rRlbGlNBX3 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rRlbGlNBX3 .text-element {
  padding: 1rem;
}
.cid-rRlbGlNBX3 .main,
.cid-rRlbGlNBX3 .main-reverse {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-rRlbGlNBX3 .main:first-child {
    padding-top: 1rem;
  }
  .cid-rRlbGlNBX3 .image-element,
  .cid-rRlbGlNBX3 .text-element {
    margin-bottom: 1rem;
  }
  .cid-rRlbGlNBX3 .main-reverse {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-rRlbGlNBX3 .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-rRlbGlNBX3 .image-element,
  .cid-rRlbGlNBX3 .text-element {
    margin-bottom: 0;
  }
  .cid-rRlbGlNBX3 .main:first-child {
    padding-top: 0;
  }
}
.cid-rRlbGnhivi {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/1-2000x1333.jpg");
}
.cid-rRlbGnhivi .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rRlbGnhivi .content-panel {
  padding: 3rem;
  background-color: #444444;
}
@media (min-width: 767px) {
  .cid-rRlbGnhivi .text-block {
    padding-right: 0;
  }
}
.cid-rRlbGnhivi .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rRlbGnhivi .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rRlbGnhivi .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-rRlbGnhivi .google-map .place-card {
  margin-left: 40px !important;
}
.cid-rRlbGpfBg3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/30841543-1874407619278185-6439007234927099904-n-808x724.jpg");
}
.cid-rRlbGpfBg3 *:focus {
  outline: none;
  box-shadow: none;
}
.cid-rRlbGpfBg3 .form-control {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  border: none;
  min-height: 47px;
}
.cid-rRlbGpfBg3 .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-rRlbGpfBg3 .form-control::-moz-placeholder {
  color: #000000;
}
.cid-rRlbGpfBg3 .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-rRlbGpfBg3 .form-control:-moz-placeholder {
  color: #000000;
}
.cid-rRlbGpfBg3 input.form-control {
  padding: .5rem;
}
.cid-rRlbGpfBg3 .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af;
  border-radius: 50%;
}
.cid-rRlbGpfBg3 .soc-item:hover {
  opacity: .5;
}
.cid-rRlbGpfBg3 .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-rRlbGpfBg3 .days-column,
.cid-rRlbGpfBg3 .hours-column {
  display: inline-block;
}
.cid-rRlbGpfBg3 .days-column span,
.cid-rRlbGpfBg3 .hours-column span {
  display: block;
}
@media (max-width: 767px) {
  .cid-rRlbGpfBg3 .days-column {
    padding-right: 0 !important;
  }
  .cid-rRlbGpfBg3 .hours-column {
    max-width: 50% !important;
  }
  .cid-rRlbGpfBg3 .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-rRletF4Pd2 {
  padding-top: 45px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #f4f8fa, #f4f8fa);
}
.cid-rRletF4Pd2 .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-rRletF4Pd2 .plan-body .btn-bgr {
  z-index: 0;
}
.cid-rRletF4Pd2 .list-group-item {
  padding: .5rem 3.25rem;
  background: transparent;
}
.cid-rRletF4Pd2 .price-term {
  margin-left: -5px;
}
.cid-rRletF4Pd2 .pt2 {
  padding-top: 2rem;
}
.cid-rRletF4Pd2 .plan-favorite {
  background-color: #188ef4;
  width: 40%;
  border-radius: .25rem;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -26px;
  margin-left: -20%;
}
.cid-rRletF4Pd2 .plan-descr {
  color: #444444;
}
.cid-rRletF4Pd2 .plan-price {
  margin-top: 2rem;
}
.cid-rRletF4Pd2 .plan-header {
  border-radius: .25rem .25rem 0 0;
  overflow: hidden;
  padding-right: 2rem;
  padding-left: 2rem;
}
.cid-rRletF4Pd2 .plan-body {
  border-radius: 0 0 .25rem .25rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.cid-rRletF4Pd2 .plan-card {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-rRletF4Pd2 .plan {
  position: relative;
  max-width: 330px;
  padding-right: 0;
  padding-left: 0;
}
.cid-rRletF4Pd2 .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-rRletF4Pd2 .plan .list-group-item:last-child {
  border-radius: 8px;
}
.cid-rRletF4Pd2 .plan .plan-favorite {
  display: none;
}
.cid-rRletF4Pd2 .plan:nth-child(2) .plan-favorite {
  background-color: #ff4f7b;
  display: block !important;
}
.cid-rRletF4Pd2 .plan-header,
.cid-rRletF4Pd2 .plan-body {
  background-color: #ffffff;
}
.cid-rRletF4Pd2 .price-figure {
  font-weight: 300;
  color: #232323;
}
.cid-rRletF4Pd2 .price-value {
  font-weight: 300;
  vertical-align: top;
  line-height: 1;
  margin-right: -5px;
}
@media (max-width: 992px) {
  .cid-rRletF4Pd2 .plan {
    margin-bottom: 3rem !important;
  }
}
@media (max-width: 550px) {
  .cid-rRletF4Pd2 .price-figure {
    font-size: 4.25rem;
  }
}
.cid-rRletF4Pd2 UL {
  color: #8d97ad;
}
