@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #e2f7df !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #e2f7df !important;
  border-color: #e2f7df !important;
  color: #3bac2b !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #3bac2b !important;
  background-color: #abe8a2 !important;
  border-color: #abe8a2 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #3bac2b !important;
  background-color: #abe8a2 !important;
  border-color: #abe8a2 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #98e38d;
  color: #98e38d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #3bac2b;
  background-color: #e2f7df;
  border-color: #e2f7df;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #3bac2b !important;
  background-color: #e2f7df !important;
  border-color: #e2f7df !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #ffbc00 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #e2f7df !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #997100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #98e38d !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #e2f7df;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffbc00;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #efefef;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 53px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 0;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  outline: none;
  background-color: #efefef;
  border: 1px solid #e8e8e8;
  box-shadow: none;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #f9e2af;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #f9e2af;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #f9e2af;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9e2af;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9e2af !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffbc00 !important;
  box-shadow: none !important;
}
.cid-rBASJoTHOQ {
  background-image: url("../../../assets/images/-dsc0852-2000x1333.jpg");
}
.cid-rBASJoTHOQ .mbr-overlay {
  background: #232323;
}
.cid-rBASJoTHOQ .mbr-section-title {
  letter-spacing: .5rem;
  color: #0d4e03;
}
.cid-rBASJoTHOQ .mbr-text,
.cid-rBASJoTHOQ .mbr-section-btn {
  color: #000000;
}
.cid-rBAK1JBHYC {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rBAK1JBHYC .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.cid-rBAK1JBHYC .text-block {
  position: relative;
  z-index: 0;
}
.cid-rBAK1JBHYC .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-rBAK1JBHYC .box {
  left: 20%;
}
.cid-rBAK1JBHYC .text-box {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cid-rBAK1JBHYC .mbr-section-text,
.cid-rBAK1JBHYC .mbr-section-title {
  margin-left: 31%;
}
@media (max-width: 991px) {
  .cid-rBAK1JBHYC .text-box {
    display: none;
  }
  .cid-rBAK1JBHYC .mbr-section-title,
  .cid-rBAK1JBHYC .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rBAK1JBHYC .box {
    display: none;
  }
  .cid-rBAK1JBHYC .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rBAK1JBHYC .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rBAK1JBHYC .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rBAK1JBHYC .mbr-section-text {
  color: #000000;
}
.cid-rBBfndmIzY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #0d4e03;
}
.cid-rBBfndmIzY .mbr-section-subtitle {
  color: #444444;
}
.cid-rBBfndmIzY .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rBBfndmIzY .mbr-text {
  color: #444444;
}
.cid-rBBfndmIzY .mbr-author-desc {
  display: block;
  color: #444444;
}
.cid-rBBfndmIzY .mbr-author-name {
  color: #444444;
}
.cid-rBBfndmIzY .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-rBBfndmIzY .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-rBBfndmIzY .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}
.cid-rBBfndmIzY .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rBBfndmIzY .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-rBBfndmIzY .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-rBBfndmIzY H2 {
  color: #ffffff;
}
.cid-rBBpjldviT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/6-653x408.png");
}
.cid-rBBpjldviT .mbr-section-title {
  margin-bottom: 0;
}
.cid-rBBpjldviT .mbr-role {
  padding-bottom: .5rem;
}
.cid-rBBpjldviT .mbr-iconfont {
  color: #cccccc;
  font-size: 1rem;
}
.cid-rBBpjldviT .mbr-iconfont:hover {
  color: #f5aeb5;
}
.cid-rBBpjldviT .image-wrap {
  position: relative;
  height: 100%;
}
.cid-rBBpjldviT .image-wrap img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center center;
  height: 100%;
}
.cid-rBBpjldviT .card-wrap {
  margin-bottom: 3rem;
  overflow-y: hidden;
  height: 400px;
}
.cid-rBBpjldviT .social-media {
  list-style-type: none;
  width: 100%;
  z-index: 1;
}
.cid-rBBpjldviT .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rBBpjldviT .social-media ul li {
  margin-right: .8rem;
  display: inline-block;
}
.cid-rBBpjldviT .card-bottom {
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: -92px;
  padding: 0 .5rem;
  width: calc(100% - 30px);
  transition: bottom 0.2s ease-in;
  bottom: -60px;
  bottom: 0 !important;
}
.cid-rBBpjldviT .card-bottom:hover {
  bottom: 0;
}
.cid-rBBkYmuuZk {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #042100;
}
.cid-rBBkYmuuZk .mbr-text {
  position: relative;
  color: #ffffff;
}
.cid-rBBkYmuuZk .mbr-text:before {
  color: #e98410;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-rBBkYmuuZk .mbr-text:after {
  color: #e98410;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
@media (max-width: 767px) {
  .cid-rBBkYmuuZk .mbr-text:after,
  .cid-rBBkYmuuZk .mbr-text:before {
    display: none;
  }
}
.cid-rBBkYmuuZk .mbr-section-title,
.cid-rBBkYmuuZk .logo {
  color: #ffffff;
}
.cid-rBBqGTNkyZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/7-510x406.png");
}
.cid-rBBqGTNkyZ .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  writing-mode: vertical-rl;
}
.cid-rBBqGTNkyZ .text-block {
  position: relative;
  z-index: 0;
}
.cid-rBBqGTNkyZ .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-rBBqGTNkyZ .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rBBqGTNkyZ .box {
  right: 20%;
}
.cid-rBBqGTNkyZ .text-box {
  right: 0;
}
.cid-rBBqGTNkyZ .mbr-section-title,
.cid-rBBqGTNkyZ .mbr-section-text {
  margin-right: 31%;
  margin-right: 0;
}
@media (max-width: 991px) {
  .cid-rBBqGTNkyZ .text-box {
    display: none;
  }
  .cid-rBBqGTNkyZ .mbr-section-title,
  .cid-rBBqGTNkyZ .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rBBqGTNkyZ .box {
    display: none;
  }
  .cid-rBBqGTNkyZ .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rBBqGTNkyZ .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rBBqGTNkyZ .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rBBqGTNkyZ .mbr-section-text {
  color: #000000;
}
.cid-rBBqGTNkyZ .mbr-section-title {
  color: #ffffff;
}
.cid-rBBwSdGLYy {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #444444;
}
.cid-rBBwSdGLYy .content-block {
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  background-color: #efefef;
  transition: all 0.4s ease-in-out;
}
.cid-rBBwSdGLYy .content-block .mbr-text {
  margin: 0;
}
.cid-rBBwSdGLYy .content-section {
  height: 100%;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
.cid-rBBwSdGLYy .image-wrap:hover img {
  opacity: 1;
  -webkit-transform: translateY(-4%);
  transform: translateY(-4%);
}
.cid-rBBwSdGLYy .image-wrap:hover > .content-block {
  opacity: .6;
}
.cid-rBBwSdGLYy .image-wrap {
  width: 100%;
  height: 100%;
}
.cid-rBBwSdGLYy .image-wrap img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.cid-rBBwSdGLYy h4.mbr-text a {
  display: block;
  min-width: 100%;
}
.cid-rBBwSdGLYy .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rBBwSdGLYy .mbr-section-title {
  color: #ffffff;
}
.cid-rBGomHp4fV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/4-1600x1200.jpg");
}
.cid-rBGomHp4fV .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-rBGomHp4fV .main-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rBGomHp4fV .image-element {
  padding: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rBGomHp4fV .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rBGomHp4fV .text-element {
  padding: 1rem;
}
.cid-rBGomHp4fV .main,
.cid-rBGomHp4fV .main-reverse {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-rBGomHp4fV .main:first-child {
    padding-top: 1rem;
  }
  .cid-rBGomHp4fV .image-element,
  .cid-rBGomHp4fV .text-element {
    margin-bottom: 1rem;
  }
  .cid-rBGomHp4fV .main-reverse {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-rBGomHp4fV .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-rBGomHp4fV .image-element,
  .cid-rBGomHp4fV .text-element {
    margin-bottom: 0;
  }
  .cid-rBGomHp4fV .main:first-child {
    padding-top: 0;
  }
}
.cid-rBAIkaZKwe {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/1-2000x1333.jpg");
}
.cid-rBAIkaZKwe .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rBAIkaZKwe .content-panel {
  padding: 3rem;
  background-color: #444444;
}
@media (min-width: 767px) {
  .cid-rBAIkaZKwe .text-block {
    padding-right: 0;
  }
}
.cid-rBAIkaZKwe .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rBAIkaZKwe .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rBAIkaZKwe .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-rBAIkaZKwe .google-map .place-card {
  margin-left: 40px !important;
}
.cid-rBAIkcP2d2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/30841543-1874407619278185-6439007234927099904-n-808x724.jpg");
}
.cid-rBAIkcP2d2 *:focus {
  outline: none;
  box-shadow: none;
}
.cid-rBAIkcP2d2 .form-control {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  border: none;
  min-height: 47px;
}
.cid-rBAIkcP2d2 .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-rBAIkcP2d2 .form-control::-moz-placeholder {
  color: #000000;
}
.cid-rBAIkcP2d2 .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-rBAIkcP2d2 .form-control:-moz-placeholder {
  color: #000000;
}
.cid-rBAIkcP2d2 input.form-control {
  padding: .5rem;
}
.cid-rBAIkcP2d2 .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af;
  border-radius: 50%;
}
.cid-rBAIkcP2d2 .soc-item:hover {
  opacity: .5;
}
.cid-rBAIkcP2d2 .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-rBAIkcP2d2 .days-column,
.cid-rBAIkcP2d2 .hours-column {
  display: inline-block;
}
.cid-rBAIkcP2d2 .days-column span,
.cid-rBAIkcP2d2 .hours-column span {
  display: block;
}
@media (max-width: 767px) {
  .cid-rBAIkcP2d2 .days-column {
    padding-right: 0 !important;
  }
  .cid-rBAIkcP2d2 .hours-column {
    max-width: 50% !important;
  }
  .cid-rBAIkcP2d2 .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-rBopwGr4lv {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #000000;
  background: linear-gradient(0deg, #000000, #0d4e03);
}
.cid-rBopwGr4lv .mbr-section-title {
  letter-spacing: 0.1em;
  text-align: center;
}
.cid-rBopwGr4lv .mbr-section-subtitle {
  color: #f9e2af;
}
.cid-rBopwGr4lv .image-wrap img {
  width: 100%;
}
.cid-rBopwGr4lv .mbr-desc {
  width: 100%;
  text-align: center;
}
.cid-rBopwGr4lv .tab-content {
  padding: 4rem 3rem 3rem 3rem;
  border-top: 3px solid #f9e2af;
  -webkit-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.cid-rBopwGr4lv .nav {
  border: none;
}
.cid-rBopwGr4lv .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rBopwGr4lv .card-box {
  -webkit-align-items: baseline;
  align-items: baseline;
}
.cid-rBopwGr4lv .card-box .mbr-price {
  margin: 0;
}
.cid-rBopwGr4lv .card-box .mbr-text {
  line-height: 1;
}
.cid-rBopwGr4lv .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  padding: .5rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all .5s;
  border: 0 !important;
}
.cid-rBopwGr4lv .nav-tabs .nav-link:hover {
  color: #f9e2af;
  border: 0 !important;
}
.cid-rBopwGr4lv .nav-tabs .nav-link.active {
  color: #f9e2af;
  border: 0 !important;
  background-color: transparent;
  position: relative;
}
@media (max-width: 90%) {
  .cid-rBopwGr4lv .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.cid-rBocnzq8Of {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/1-2000x1333.jpg");
}
.cid-rBocnzq8Of .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rBocnzq8Of .content-panel {
  padding: 3rem;
  background-color: #444444;
}
@media (min-width: 767px) {
  .cid-rBocnzq8Of .text-block {
    padding-right: 0;
  }
}
.cid-rBocnzq8Of .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rBocnzq8Of .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rBocnzq8Of .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-rBocnzq8Of .google-map .place-card {
  margin-left: 40px !important;
}
.cid-rBoct6Op0J {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/30841543-1874407619278185-6439007234927099904-n-808x724.jpg");
}
.cid-rBoct6Op0J *:focus {
  outline: none;
  box-shadow: none;
}
.cid-rBoct6Op0J .form-control {
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  border: none;
  min-height: 47px;
}
.cid-rBoct6Op0J .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-rBoct6Op0J .form-control::-moz-placeholder {
  color: #000000;
}
.cid-rBoct6Op0J .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-rBoct6Op0J .form-control:-moz-placeholder {
  color: #000000;
}
.cid-rBoct6Op0J input.form-control {
  padding: .5rem;
}
.cid-rBoct6Op0J .soc-item {
  display: inline-block;
  margin: 0 .1rem .2rem .1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af;
  border-radius: 50%;
}
.cid-rBoct6Op0J .soc-item:hover {
  opacity: .5;
}
.cid-rBoct6Op0J .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-rBoct6Op0J .days-column,
.cid-rBoct6Op0J .hours-column {
  display: inline-block;
}
.cid-rBoct6Op0J .days-column span,
.cid-rBoct6Op0J .hours-column span {
  display: block;
}
@media (max-width: 767px) {
  .cid-rBoct6Op0J .days-column {
    padding-right: 0 !important;
  }
  .cid-rBoct6Op0J .hours-column {
    max-width: 50% !important;
  }
  .cid-rBoct6Op0J .opening-hours {
    padding-bottom: 48px !important;
  }
}
